page-areacheck {
  h1 {
    text-align: center;
    margin-top: 27%;
    font-weight: 800;
  }

  .button {
      height: 10%;
      background-color: #3E4166 !important;
      font-size: 26px;
      text-transform: initial;
    }


  .form-control {
    height: 53px;
    margin-top: 45px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 16px;
  }
}
