page-areacheck {
  h1 {
    text-align: center;
    margin-top: 27%;
    font-weight: 800;
  }

  .button-md {
    width: 105%;
    margin-left: -5px;
    height: 84px;
    background-color: #3E4166!important;
    font-size: 26px;
    text-transform: initial;
    margin-top: 22%;
  }

  .form-control {
    height: 53px;
    margin-top: 45px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 16px;
  }
}
