page-login {
  ion-header .toolbar-background {
    background-color: white !important;
    color: black !important;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .toolbar-title-md {
    color: grey!important;
    text-align: center;
  }

  .skip {
    float:right;
    font-size: 18px;
    color: #9a4554!important;
  }
}
