page-slider {
  .button {
    height: 10%;
    background-color: #aa7173 !important;
    font-size: 26px;
    text-transform: initial;
  }

  .sliderImage {
    height: 153px;
    margin-top: -36px;
  }
  p {
    margin: 0px;
    font-size: 22px;
    font-weight: 400;
  }

}
