page-slider {
  .button-md {
    width: 105%;
    margin-left: -5px;
    height: 84px;
    background-color: #99896D!important;
    font-size: 26px;
    text-transform: initial;
  }

  .sliderImage {
    height: 153px;
    margin-top: -36px;
  }
  p {
    margin: 0px;
    font-size: 22px;
    font-weight: 400;
  }

}
